// Fonts
$fonts-primary: 'Roboto', sans-serif;
$fonts-secondary: 'Amiri', serif;

// Container width
$container-width: 1200px;
$grid-space: 15px;

// Background Color
$bg-primary: #311d40;
$bg-primary-dark: #1f1229;
$bg-secondary: #eaad4e;
$bg-ternary: #ee018c;

// Text Color
$text-primary: #eaad4e;
$text-secondary: #ee018c;
$text-secondary-dark:#1f1229;
$text-white:#fff;

// Link Color
$link-color-primary: #ee018c;
$link-color-secondary: #eaad4e;

// Border Color
$border-primary: #eaad4e;
$border-secondary: #ee018c;
$border-secondary-dark: #1f1229;

// Social Color

$fb-color: #3b5998;
$youtube-color: #cc181e;
$twitter-color: #1da1f2;
$whatsapp-color: #4dc247;
// Alert
$alert-danger: #ed1c24;
$alert-success: #4dc247;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts/icomoon" !default;

$st-icon-facebook: "\e900";
$st-icon-instagram: "\e901";
$st-icon-youtube: "\e902";
$st-icon-twitter: "\e903";
$st-icon-whatsapp: "\e904";
$st-icon-flower: "\e905";
$st-icon-prev-arrow: "\e906";
$st-icon-next-arrow: "\e907";
$st-icon-star: "\e908";
$st-icon-star-half: "\e909";
$st-icon-star-blank: "\e90a";
$st-icon-location-pin: "\e90b";
$st-icon-call: "\e90c";
$st-icon-envelop: "\e90d";
$st-icon-check: "\e90e";
$st-icon-user: "\e90f";
$st-icon-calendar: "\e910";
$st-icon-clock: "\e911";
$st-icon-comment: "\e912";
$st-icon-paper-plane: "\e913";
$st-icon-coupon: "\e914";
$st-icon-gift: "\e915";
$st-icon-gift-tag: "\e916";