.popular-blog {
    background-color: $bg-primary-dark;
    padding: 10px;
    $self: &;
    &__title {
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: 1px;
      border-bottom: 1px solid $border-primary;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    &-lists {
        li {
            + li {
                margin-top: 10px;
            }
        }
        li {
            a {
                color: #98789a;
                &:hover {
                    color: $text-primary
                }
            }
        }
        &__img-box {
            width: 90px;
            margin-right: 10px;
            max-height: 90px;
            img {
              height: 100%;
              object-fit: cover;
            }
        }
        &__content {
            width: calc(100% - 100px);
        }
        &__title,
        &__date {
           font-size: 1.3rem;
       }

       &__title {
           font-weight: 700;
       }

       &__date {
           margin-bottom: 0;
           color: #98789a;
       }
    }
}